.classrooms
  width: 90%
  height: 100%
  margin: 0 auto
  padding: 60px 0 100px 0
  animation: classrooms .5s
  position: relative
  &__title
    font-size: 50px
    text-align: center
    color: #787878