.home
  width: 100%
  animation: home .5s
  position: relative
  @keyframes home
    0%
      top: 50px
    100%
      top: 0px
  &__wrapper
    width: 100%
    margin-top: 20px
    display: flex
    justify-content: space-between
  &__content
    width: 80%
    margin: 0 auto
    .content
      &-banner
        width: 100%
        height: 170px
        background-image: url('../../assets/img/home/banners/banner.webp')
        &:not(:first-child)
          margin-top: 25px
        img
          display: block
          height: 75%
          opacity: 0.85
        h3
          font-size: 60px
          text-align: center
          padding-top: 45px
          color: #90A278
        &:first-child
          position: relative
          img
            position: absolute
            left: 70px
            bottom: 15px
            transform: rotateZ(-50deg)
        &:nth-child(3)
          position: relative
          img
            position: absolute
            right: 60px
            bottom: 15px
            transform: rotateZ(55deg)
        &:nth-child(5)
          position: relative
          img
            position: absolute
            left: 75px
            bottom: 15px
            transform: rotateZ(-35deg)
      &-items
        height: 300px
        width: 100%
        display: flex
        justify-content: space-between
        margin-top: 35px
        &:last-child
          margin-bottom: 20px
      &-card
        width: 270px
        height: 300px
        background-color: #C2E4DA
        
        
        